<app-header></app-header>
<div *ngIf="loading" class="spinner-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!loading">
  <div *ngIf="game">
    <h3 class="GameName">{{ game.name }}</h3>
  </div>
  <div class="game-container" *ngIf="game">
    <div class="game-item">
      <div class="game-image">
        <img
          [src]="
            game.cover
              ? 'https:' + game.cover.url.replace('thumb', '1080p')
              : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAAXNSR0IArs4c6QAAAdlJREFUeF7t3EFuwkAQRFHm/sfzgRw5AgkFCHim62OPPsvE7vK8rhCRRdqyLOvFV1ygCR03/g0QmnEWGnIWWmhKAMrxPVpoSACKsdFCQwJQjI0WGhKAYmy00JAAFGOjhYYEoBgbLTQkAMXYaKEhASjGRgsNCUAxNlpoSACKsdFCQwJQjI0WGhKAYmy00JAAFGOjhYYEoBgbLTQkAMXY6DNDr+t6aa09HOHV16GzfjVmmkZvS9xezxY8Ilw1dxroEUzi3gj06FvE3/urWpWa+8miyqBHcf972NTs1NxnZymD/mSrPdekMFJzX53x8NCzLGdK6J7lpO8ROi18nS+00JAAFDPUaPo3N2QSiRmCrn6i1OJSc/ecvwS66pPbnge/vzYFWTm3BLoXqOq+SpDUAg8LfQa8PUU5FPRsuPeLiEIn4BIzN5DU3Bt2F3T6ofb8SJ7l2i7o2+ES4ImZRGPfLXwIOgk+29+nS6DfbdPv++/YsA7YaIhaaKEhASjGRgsNCUAxNlpoSACKsdFCQwJQjI0WGhKAYmy00JAAFGOjhYYEoBgbLTQkAMXYaKEhASjGRgsNCUAxNlpoSACKsdFCQwJQjI0WGhKAYmy00JAAFGOjhYYEoBgbDUH/AEvHqpof/kFZAAAAAElFTkSuQmCC'
          "
          alt="{{ game.name }} cover"
          style="width: 300px; height: 300px"
        />
      </div>

      <div class="game-info">
        <h4>Release Dates:</h4>
        <ul>
          <li *ngFor="let releaseDate of getRealeaseDates(game)">
            {{ releaseDate }}
          </li>
        </ul>

        <h4>Game Modes:</h4>
        <ul>
          <li *ngFor="let gameMode of getGameModes(game)">{{ gameMode }}</li>
        </ul>

        <h4>Genres:</h4>
        <ul>
          <li *ngFor="let gameGenre of getGenres(game)">{{ gameGenre }}</li>
        </ul>

        <h4>Platforms:</h4>
        <ul>
          <li *ngFor="let gamePlatfrom of getPlatforms(game)">
            {{ gamePlatfrom }}
          </li>
        </ul>

        <h4>Websites:</h4>
        <ul>
          <li *ngFor="let website of game.websites" class="website-link">
            <a [href]="website.url">{{ website.url }} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="back" (click)="goBack()">Go Back</button>
  </div>
</div>
